<div class=translator-component>
    <div class="source-part">
        <div class="source-selector">
                <p-select [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" placeholder="Sprache auswählen"class="w-full md:w-56" />
        </div>
        <div class="source-text">

        </div>
    </div>
    <div class="target-part">
        <div class="target-selector">
            <p-select [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" placeholder="Sprache auswählen"class="w-full md:w-56" />
        </div>
        <div class="target-text">

        </div>

    </div>
</div>