<div class=translator-component>
    <div class="source-part">
        <div class="source-selector">
            <div class="source-content">
                <p-select [options]="possibleLanguages" [(ngModel)]="sourceLanguage" optionLabel="name"
                    placeholder="Sprache auswählen" class="w-full md:w-56" />
                <p-button label="Übersetzten" [disabled]=!canTranslate() severity="secondary" (onClick)="translate()" />
            </div>
        </div>
        <div class="source-text">
            <p-iftaLabel style="border-radius: 0px; display: block;">
                <textarea pTextarea [(ngModel)]="sourceText" fluid="true" (resize)="false"
                    style="resize: none; border-radius: 0px;">
                </textarea>
                <label style="font-size: large; color: gray;">
                    Quelltext
                </label>
            </p-iftaLabel>
        </div>
    </div>
    <div class="target-part">
        <div class="target-selector">
            <p-select [options]="possibleLanguages" [(ngModel)]="targetLanguage" optionLabel="name"
                placeholder="Sprache auswählen" class="w-full md:w-56" />
        </div>
        <div class="target-text">
            <p-card
                [style]="{ 'margin-left': '0', 'margin-right': '0', 'width': '100%', 'height': '100%', borderRadius: '0px'}">
                <label style="font-size: large; color: gray;">Übersetzung</label>
                <p class="">
                    {{ targetText }}
                </p>
            </p-card>
        </div>
    </div>
</div>